html {
  background-color: $black-ter;
}

body {
  padding: 16px;
  color: $grey-lighter;
}

p { margin-bottom: 16px; }

a,
a:hover,
.red { color: $red; }

.main-title {
  @extend .title;
  @extend .is-3;

  a,
  a:hover { color: $white; }
}

section {
  & > .title:not(:last-child) {
    margin-bottom: 8px;
  }

  & > ul {
    margin-bottom: 16px;
  }

  li {
    user-select: none;

    &:hover {
      background-color: rgba($white, 0.1);
    }
  }
}


.checkbox {
  display: block;

  position: relative;
  padding: 8px 8px 8px 40px;
  line-height: 24px;
  color: $grey-light;

  [type="checkbox"] {
    position: absolute;
    top: 0.80rem;
    left: 16px;
  }

  em {
    color: $red;

    &.boss {
      font-style: normal;
      font-weight: 800;
      color: $orange;
    }
  }

  &:hover {
    color: $grey-light;
  }
}

.title,
strong { color: $grey-lighter; }

.hide {
  display: none;
  margin-bottom: 4px;
}

.box {
  margin-top: -4px;
  background: transparent;
}

.box-toggle {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: $grey-darker;
  cursor: pointer;

  span:first-child {
    flex: 1;
  }

  & + .box {
    border-radius: 0;
    border: 1px solid $grey-darker;
  }

  .totals {
    font-size: 14px;
    i { font-style: normal; }
  }
}

.title.box-toggle {
  margin-bottom: 2px;
}

#resetbar {
  margin: 32px 0 0;
  padding: 32px 0;
  border-top: 1px solid $red;
}

.modal-content {
  padding: 32px;
}

.tabs {
  &.is-toggle {

    a {
      color: $grey-lighter;
      border-color: $grey-dark;

      &:hover {
        border-color: $grey-dark;
        background-color: $grey-dark;
      }
    }

    li.is-active a {
      background-color: $grey-darker;
      border-color: $grey-dark;
    }
  }
}

.table {
  margin: 0 auto 32px;
  table-layout: fixed;
  color: $grey-lighter;
  background-color: transparent;

  th {
    color: $grey-lighter;
  }

  td, th {
    border-color: $grey-darker;
  }
}

.table.is-striped tbody tr:not(.is-selected):nth-child(even) { background-color: rgba($grey-light, 5%); }
