html {
  background-color: $black-ter;
}

body {
  padding: 16px;
  color: $grey-lighter;
}

.main-title {
  @extend .title;
  @extend .is-3;

  a,
  a:hover { color: $white; }
}

.run-list {
  margin-bottom: 16px;
}

.checkbox {
  position: relative;
  padding: 8px 8px 8px 32px;
  color: $grey-light;

  [type="checkbox"] {
    position: absolute;
    top: 0.70rem;
    left: 0.5rem;
  }

  &:hover {
    color: $grey-light;
  }
}

.form-footer {
  padding: 16px 0;
}

.title,
strong { color: $grey-lighter; }

.hide {
  display: none;
  margin-bottom: 4px;
}

.box {
  margin-top: -4px;
  background: transparent;
}

.box-toggle {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: $grey-darker;
  cursor: pointer;

  span:first-child {
    flex: 1;
  }

  & + .box {
    border-radius: 0;
    border: 1px solid $grey-darker;
  }

  .totals {
    font-size: 14px;
    i { font-style: normal; }
  }
}

.title.box-toggle {
  margin-bottom: 2px;
}

.modal-content {
  padding: 32px;
}

.tabs {
  &.is-toggle {

    a {
      color: $grey-lighter;
      border-color: $grey-dark;

      &:hover {
        border-color: $grey-dark;
        background-color: $grey-dark;
      }
    }

    li.is-active a {
      background-color: $grey-darker;
      border-color: $grey-dark;
    }
  }
}


