// $red: darken($red, 18%);

html {
  background-color: $black-ter;
}

body {
  padding: 16px;
  color: $grey-lighter;
}

p { margin-bottom: 16px; }

a,
a:hover,
.red { color: $red; }

.main-title {
  @extend .title;
  @extend .is-3;

  a,
  a:hover { color: $white; }
}

section {
  & > .title:not(:last-child) {
    margin-bottom: 8px;
  }

  & > ul {
    margin-bottom: 16px;

    li {
      position: relative;
      padding: 8px 0;
      line-height: 28px;
      color: $grey-light;
      user-select: none;

      &:hover {
        background-color: rgba($white, 0.1);
      }
    }
  }
}


.checkbox {
  display: block;
  position: relative;
  padding-left: 32px;

  &:hover {
    color: currentColor;
  }

  [type="checkbox"] {
    position: absolute;
    top: 4px;
    left: 8px;
  }

  em {
    color: $red;

    &.boss {
      font-style: normal;
      font-weight: 800;
      color: $orange;
    }
  }
}

.title,
strong { color: $grey-lighter; }

.hide {
  display: none;
  margin-bottom: 4px;
}

.box-toggle {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: $grey-darker;
  cursor: pointer;

  span:first-child {
    flex: 1;
  }

  & + .box {
    margin-top: -4px;
    padding: 16px;
    background: transparent;
    border-radius: 0;
    border: 1px solid $grey-darker;
  }

  .totals {
    font-size: 14px;
    i { font-style: normal; }
  }
}

.title.box-toggle {
  margin-bottom: 2px;
}

#resetbar {
  margin: 32px 0 0;
  padding: 32px 0;
}

.modal-content {
  padding: 32px;
}

.tabs {
  &.is-toggle {

    a {
      color: $grey-lighter;
      border-color: $grey-dark;

      &:hover {
        border-color: $grey-dark;
        background-color: $grey-dark;
      }
    }

    li.is-active a {
      background-color: $grey-darker;
      border-color: $grey-dark;
    }
  }
}

.table {
  margin: 0 auto;
  // table-layout: fixed;
  color: $grey-lighter;
  background-color: transparent;

  th {
    color: $grey-lighter;
  }

  td, th {
    border-color: $grey-darker;
  }
}


.table:not(:last-child),
.table { margin-bottom: 40px; }

.table.is-striped tbody tr:not(.is-selected):nth-child(even) { background-color: transparent; }
.table.is-striped tbody tr:not(.is-selected):nth-child(odd) { background-color: rgba($grey-dark, 0.3); }
.table.is-striped tbody tr:not(.is-selected):nth-child(odd).head {
  font-size: 1.2rem;
  background-color: rgba($red, 0.2);
}